/* customXX Use With Design framework bootstrap */


/**
 * @import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans');
 *
 * body { font-family: 'Open Sans', sans-serif; font-size: 20px; color:
 * #333333; }
 */


/* ********************************************************************* */

.CompanyLogo {
    margin-top: -15px;
}

.CompanyText {
    color: #333;
    font-size: 38px;
    font-weight: bold;
}

.iconHead {
    padding-top: 15px;
}

.badge {
    background-color: #FF6008;
}

.table-responsive {
    height: 100%;
}


/* Custom Menu */

.nav>li :not( :last-child)>a {
    border-right: 1px solid #cc470d;
}

ul>li:not( :last-child)>a {
    border-right: 1px solid #ccc;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 15px;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-timing-function: linear, ease-in;
    -webkit-transition-duration: 1s, 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-property: color, text;
    -moz-transition-property: color, text;
    -o-transition-property: color, text;
}

li:hover:not(.MenuSelected)>a {
    text-decoration: underline;
}

li.MenuSelected>a {
    color: #FF6008;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}


/* End Menu */

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}


/* Text Color */

.text-muted {
    color: #777;
}


/* Butuon */

.btn-orange {
    color: #fff;
    border-color: #eea236;
    background-color: #FF6008;
}

.btn-orange:hover {
    color: #FF6008;
    border-color: #FF6008;
    background-color: #fff;
}

.btn-white {
    color: #333;
    border-color: #eee;
    background-color: #fff;
}

.btn-white:hover {
    color: #333;
    border-color: #777;
    background-color: #fff;
}


.btn-white-Border {
    color: #FF6008;
    border-color: #FF6008;
    background-color: #fff;
}

.btn-white-Border:hover {
    color: #333;
    border-color: #777;
    background-color: #fff;
}


.btn {
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
    -webkit-transition: all .6s linear;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    /* -webkit-transition : background-color .6s linear; */
}


/**
 * .btn:hover, .btn:focus, .btn.focus { border-color: transparent; color: #eee;
 * background-color: #333; }
 */

.btn-round-lg {
    border-radius: 22.5px;
}

.btn-round {
    border-radius: 22px;
}

.btn-round-sm {
    border-radius: 15px;
}

.btn-round-xs {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 11px;
}


/* Form */

#tableShipping td, #Payment td {
    border-top: 0px solid #ddd;
}

#tableShipping label, #Payment label {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
}

#contactInformation>div .form-group, #contactInformation>div {
    padding-left: 0px !important;
}

.controls>input {
    border: 0px none #ccc;
    border-radius: 0px;
    background-color: #EEEEEE !important;
    box-shadow: unset;
}


/* Table */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    vertical-align: middle;
    line-height: 1.42857143;
}


/* Bar Skew */

.wrapperVertical {
    /**
   * position: relative; width: 250px; height: 300px; border: 1px dashed #ccc;
   * margin: 10px;
   */
    margin-left: 0px;
}

.lineVertical {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #eee;
    /* left: 49%; */
    /**
   * position: absolute; left: 49%; top: 0; bottom: 0; width: 1px; background:
   * #ccc; z-index: 1;
   */
}

.wordwrapperVertical {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    height: 12px;
    margin-top: -12px;
    text-align: center;
    /* right: 0; */
}

.wordVertical {
    /**
   * color: #333; text-transform: uppercase; letter-spacing: 1px; padding: 3px;
   * font: bold 12px arial,sans-serif; background: #fff;
   */
    padding: 8px;
    letter-spacing: 1px;
    color: #777;
    background: #fff;
    font-size: 16px;
    /* text-transform: uppercase; */
    /* font: bold 12px arial,sans-serif; */
}

.wrapperHorizontal {
    /**
   * position: relative; width: 250px; height: 300px; border: 1px dashed #ccc;
   * margin: 10px;
   */
    margin-left: 0px;
}

.lineHorizontal {
    position: absolute;
    z-index: 1;
    right: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 1px;
    background: #eee;
    /* left: 49%; */
    /* top: 0; bottom: 0; */
    /**
   * position: absolute; left: 49%; top: 0; bottom: 0; width: 1px; background:
   * #ccc; z-index: 1;
   */
}

.wordwrapperHorizontal {
    position: absolute;
    z-index: 2;
    right: 50%;
    height: 12px;
    margin-top: -18px;
    text-align: center;
    /* left: 0; */
    /* top: 50%; */
}

.wordHorizontal {
    /**
   * color: #333; text-transform: uppercase; letter-spacing: 1px; padding: 3px;
   * font: bold 12px arial,sans-serif; background: #fff;
   */
    padding: 8px;
    letter-spacing: 1px;
    color: #777;
    background: #fff;
    font-size: 16px;
    /* text-transform: uppercase; */
    /* font: bold 12px arial,sans-serif; */
}

.Color1 {
    color: #FF6008 !important;
}

.Color2 {
    color: #515356 !important;
}

.Color3 {
    color: #747578 !important;
}

.Color4 {
    color: #B1B1B1 !important;
}

.Color5 {
    color: #CBCBCB !important;
}

.Color6 {
    color: #EEEEEE !important;
}


/**
 * h1,h2,h3,h4,h5,h6 { margin-top : 20px; margin-bottom: 20px;
 *
 * }
 */

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 26px;
}

p {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    line-height: 1.5;
}


/* Dark ------------------------------------------------------------------ */

.dark {
    /* background: #1c1c1e; */
}

.dark * {
    color: #fff;
}

.dark a, .dark a:visited {
    color: #f45376;
}

.dark a:hover, .dark a:visited:hover {
    text-decoration: underline;
}

.dark a.button {
    color: #fff;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
}

.dark a.button:hover {
    color: #000;
    background: #fff;
}

.dark a.button.fill {
    color: #000;
    background: #fff;
}

.dark a.button.fill:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.dark code, .dark pre {
    background-color: rgba(248, 248, 248, 0.1);
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #ffffff;
}


/* Light ---------------------------------------------------------------------- */

.light {
    /* Custom Pws */
    /* background: #ffffff; */
    /* background: #ffffff; */
}

.light * {
    /* Custom Pws */
    /* color: #3e3e3e; */
    /* color: #000; */
    color: #666;
}

.light a, .light a:visited {
    /* Custom PWS */
    /* color: #269 ; */
    color: #107896;
    /* color: #0f5b78 ; color: #0d3d56 ; */
    /* color: #2E3192 ; */
}

.light a:hover, .light a:visited:hover {
    text-decoration: underline;
}

.light a.button {
    color: #ffffff;
    border: 1px solid #CCCCCC;
    background: yellow;
}

.light a.button:hover {
    color: #fff;
    background: #239292;
    background: #43ABC8;
}

.light a.button.fill {
    color: #fff;
    background: #239292;
}

.light a.button.fill:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.light code, .light pre {
    background-color: #f8f8f8;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #333;
}


/* control --------------------------------------------------------------------- */

a.button {
    margin-top: 20px;
    padding: 8px 18px !important;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    background: transparent;
    font-family: "Lato", sans-serif !important;
    font-size: 1rem;
}

a.button:hover {
    text-decoration: none !important;
    color: #fff;
    background: #000;
}

a.button.fill {
    color: #fff;
    background: #000;
}

a.button.fill:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}


/* ********************************************************************* */


/* Section Back Ground */


/**
 * .customBgSection {
 *
 * display: block; position: relative; background-size:cover; }
 *
 * .customBgSection::after { content: "";
 *
 * opacity: 0.1; top: 0; left: 0; bottom: 0; right: 0; position: absolute;
 * z-index: -1; }
 */

.background-image {
    background: linear-gradient( rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url('../img/about-bg.jpg');
    background-size: cover;
    /* background-color: rgba(255,255,255,.5); */
}


/**
 * .customBgSection { opacity: 0.8;background-color: rgb(255, 255, 255);
 * background-size: cover; }
 */

.transformSkewY {
    position: relative;
    z-index: -1;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #fff;
    /* height: 100%; */
}

.transformSkewY div {
    padding-top: 50px;
    padding-bottom: 50px;
}

.transformSkewY p {
    /* color : rgba(255, 255, 255, 1); */
}

.transformSkewY:before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transform: skewY(-12deg);
    -moz-transform: skewY(-12deg);
    -ms-transform: skewY(-12deg);
    -o-transform: skewY(-12deg);
    transform: skewY(-12deg);
    background-color: rgba(0, 0, 0, .5);
}


/* Common */

.boxShadow {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
